#wrapper {
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding: 0;
    font-family: 'Tw Cen MT';
}


#eyes {
    height: 120px;
    max-width: 500px;
    resize: horizontal;
    padding-left: 30px;
    display: inline-block;
}

#logoText {
    max-width: 500px;
    padding-left: 30px;
    height: 120px;
    width: 600px;
    
    display: inline-block;
}

#headimg {
    display: inline-block;
}

header {
    height: auto;
    min-height: 140px;
    min-width:580px;
    /*padding-left: 10px;*/
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: red;
    /*color: yellow;*/
}



nav {
    min-height: 25px;
    height: auto;
    background: linear-gradient(red, white);
    padding-top: 0.5px;
    padding-bottom: 40px;
    color: black;
    font-size: 25px;
    padding-right: 100px;
    padding-left: 50px;
    min-width: 580px;
}


    nav ul {
        list-style-type: none;
        
    }

        nav ul li {
            display: inline;
            
            margin-right: 10px;
        }

            nav ul li a:link {
                text-decoration: none;
            }

            nav ul li a:visited {
                color: black;
            }

    /*Styling for 2nd level navigation*/
    nav li ul {
        display: none;
        position: absolute;
        
    }

    nav li:hover ul {
        display: block;
    }

    nav li:hover {
        text-decoration: underline;
    }

main {
    color: black;
    /*border:1px solid black;*/
    border-radius: 10px;
    padding: 10px;
    min-height: 500px;
    height: auto;
}


label:after {
    content: "\A";
    white-space: pre;
}

.error {
    color: yellow;
}
/************************************************TRACKS*******************************************************************/
#forloop{
    max-width:33%;
}
/***********************************************REGISTER********************************************************************/
.register {
    float: right;
    margin-right: 5px;
}

    .register:hover {
        text-decoration: underline;
    }

    .register:link {
        color: black;
    }


.right {
    float: right;
}



/**********************************************FOOTER****************************************************************/
footer {
    text-align: center;
}
